/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap'); */

body{
    margin: 0;
    padding: 0;
    /* font-family: "Playwrite DE Grund", cursive; */
    box-sizing: border-box;
}
/* 
.Exclusive_Discount {
    overflow: hidden;
    font-weight: bold;
    background-color: #edede9;
} */

/* .Exclusive_Discount .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
} */

/* .Exclusive_Discount .card {
    width: 600px;
    margin: 10px;
    margin-right: 60px;
    margin-left: 60px;
} */

/* .Exclusive_Discount .card img {
    width: 100%; 
    height: auto;
    display: block; 
    border-radius: 20px; 
    box-shadow: 2px 2px 3px #808080;
} */

/* .Exclusive_Discount .banner-image img {
    width: 100%; 
    height: auto; 
    border-radius: .6rem; 
} */

.Exclusive_Discount button {
    /* border: none;
    outline: none;
    padding: 0;
    background: transparent; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* cursor: pointer; */
}

@media (max-width: 768px) {
    .Exclusive_Discount .container{
        margin-top: 0;
    }
    .Exclusive_Discount .heading h2{
        font-size: 1.2rem;
    }
    .Exclusive_Discount .card {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    .Exclusive_Discount .card {
        width: 100%; 
    }
}