.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-top: 1rem;
}

.heading h2 {
    margin: 20px;
    font-weight: 900;
    font-size: 1.5rem;
    font-family: "Playwrite DE Grund", cursive;
}

.heading hr {
    width: 200px;
    height: 3px;
    outline: none;
    border: none;
}

.heading .hr-right {
    background: linear-gradient(to left, #e9acb600, #e9acb646, #e9acb6bd, #E9ACB6);
}

.heading .hr-left {
    background: linear-gradient(to right, #e9acb600, #e9acb646, #e9acb6bd, #E9ACB6);
}

.subheading {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: grey;
    margin: 1rem;
}

@media (max-width: 767px) {
    .heading hr {
        width: 80px;
        height: 3px;
        outline: none;
        border: none;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 1rem;
    }

    .subheading {
        font-size: 1rem;
        text-align: center;
    }


}


@media (max-width: 400px) {
    .heading h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .subheading {
        font-size: .8rem;
        text-align: center;
    }


}





.bestseller_container {
    text-align: center;
}

.products {
    padding: 10px 0;
    background-color: #f3edef;
    position: relative;

}


.product-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin: 20px 20px;

    /* max-width: 1000px; */
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;

    /* margin: auto; */
}

/* .product-container:hover{
    transform: scale(1.2);
    
} */


.controllers {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

.controllers button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: #888;
    border: none;
    box-shadow: 10px 5px 10px #888;
    /* position: absolute; */

}

.slideBtn {
    margin: 25px auto;
    /* position: relative; */
}

.slideBtn button {
    padding: .25rem .2rem;
    width: 160px;
    height: 50x;
    /* position: absolute; */
    /* border: 2px solid #E9ACB6; */
    border: 2px solid #FF5BB1;
    outline: none;
    transition: all 0.8s ease;
    font-weight: 600;
}

/* .slideBtn .first:hover{
    
} */





.first {
    /* right: -10px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    color: white;
    /* background-color: #E9ACB6; */
    background-color: #FF5BB1;
}

.second {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}




.product-card {
    /* border: 1px solid#E9ACB6; */
    border: 1px solid #FF5BB1;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    overflow: hidden;
    /* min-width: 200px; */
    min-width: 300px;
    text-align: center;
    /* position: relative; */
    /* transition: transform .5s ease-in-out; */
    transition: 0.3s ease;
}


.product-card.hover {
    /* transform: scale(1.2) !important; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* .image-wrapper{
    transition: transform 2 esae-in-out;

} */


.product-card img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;

}

/* .product-card img.hover{

    transform: scale(1.2) !important;
    
} */

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #E9ACB6; */
    /* padding-top: 5px; */
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    
}
.product-info>div {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-info h3 {
    float: left;
    font-size: 19px;
    /* font-weight: 300; */
}

.product-info p {
    float: right;
    margin-top: 30px;
    color: #666;
}

.product-info .buy-now {
    /* background-color:#E9ACB6; */
    background-color: #FF5BB1;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    margin-bottom: 5px;

}

.product-info button:hover {
    background-color: white;
    color: #FF5BB1;

}



.see-all {
    margin: 20px auto;
}

.see-all button {
    /* background-color: #e9acb6; */
    color: #FF5BB1;
    background: #ffff;
    border: 2px solid #FF5BB1;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: auto;
}

.see-all button:hover {
    color: #fff;
    background: #FF5BB1;
}

/* scroll */

.bar {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80%;
    max-width: 1000px;
    /* height: 400px; */
    margin: 25px auto;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    padding-bottom: 10px;
}

.card {
    min-width: 23%;
    height: 100%;
    /* background-color: #E9ACB6; */
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    scroll-snap-align: start;

}

.bar img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 2px solid #E9ACB6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0;
    box-sizing: border-box;

    scroll-snap-align: start;
}

.bar::-webkit-scrollbar {
    width: 13px;
    height: 15px;

}

.bar::-webkit-scrollbar-thumb {
    background-color: #E9ACB6;
    border-radius: 30px;
}

/* scroll end */









@media (max-width: 1367px) {
    /* .product-container {
        flex-wrap: wrap;
        justify-content:center;
    } */

    .product-card {

        min-width: 200px;
    }
}


@media (max-width: 480px) {
    .product-card {
        width: 200px;
    }

    .pagination {
        display: none;
    }
}

@media (max-width: 930px) {
    /* .product-card {
        min-width: 200px;
    } */

    .pagination {
        display: none;
    }
}