@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  /* margin: 0; */
  /* padding: 0; */
  --color-light-1: #FBBDBB;
  --color-light-2: #E9ACB6;
  --color-light-3: #F2C8D7;
  --color-light-4: #FEAED2;
  --color-light-5: #FF5BB1;
  --color-light-6: #F8E2EA;
}

footer[data-footer-part] {
  /* width: 100%; */
  /* font-size: 15px; */
  color: #000000;
  line-height: 20px;
  /* padding: 25px 0 15px; */
  /* box-sizing: border-box; */
  overflow: hidden;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to bottom, var(--color-light-4), var(--color-light-6));
}

footer[data-footer-part]>p{
  /* margin-top: 15px; */
  font-weight: 600;
  color: #333;
}
/* 
.row_[data-footer-part] {
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas: "col_Head col_0 col_1 col_2 col_3" "col_Head col_0 col_Icon col_Icon col_Icon";
}

.col_[data-footer-part] {
  flex-basis: 15%;
  padding: 10px;
}

.col_[data-footer-part] .logo {
  width: 90px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.col_[data-footer-part]>h3 {
  width: fit-content;
  margin-bottom: 25px;
  margin-top: 50px;
  position: relative;
}

.col_[data-footer-part]>ul>li {
  list-style: none;
  margin-bottom: 3px;
  padding-top: 5px;
} */

.col_[data-footer-part]>ul>li>.footerList {
  text-decoration: none;
  color: #333;
}

.col_[data-footer-part]>ul>li>.footerList:hover {
  color: var(--color-light-5);
}

.socialIcons[data-footer-part] {
  /* height: 40px; */
  /* border-radius: 15px; */
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 30px; */
  /* line-height: 40px; */
  font-size: 30px;
  background: transparent;
  /* margin-right: 10px; */
  cursor: pointer;
  /* margin-top: 20px; */
}

.socialIcons[data-footer-part]>a {
  text-decoration: none;
  color: #000;
  /* margin: 0px 5px 0px 5px; */
}
/* 
hr[data-footer-part] {
  width: 90%;
  border: 0;
  border-bottom: 1px solid black;
  margin: 20px auto;
} */

.copyright[data-footer-part] {
  text-align: center;
}

.btnShow {
  display: none;
}

@media (max-width: 650px) {
  footer[data-footer-part] {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .col_[data-footer-part] {
    display: flex;
    flex-direction: column;
  }
  /* .row_[data-footer-part] {
    grid-template-areas: "col_Head" "col_0" "col_1" "col_2" "col_3" "col_Icon";
  } */

  .col_[data-footer-part]:first-child{
    grid-column: span 2;
    display: flex;
    flex-direction: row-reverse;
    /* margin-top: 10%; */
    /* font-size: 16px; */
    /* font-weight: 200; */
    justify-content: space-between;
  }

  .col_[data-footer-part]:first-child>.logo>img{
    width: 200px;
    height: 200px;
    margin-right: 2em;
  }

  .col_[data-footer-part]:first-child>ul>li {
    background-size: 16px 16px;
    background-position: 0% 40%;
    padding-left: 25px;
    /* margin-bottom: 10px; */
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBVcGxvYWRlZCB0bzogU1ZHIFJlcG8sIHd3dy5zdmdyZXBvLmNvbSwgR2VuZXJhdG9yOiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4NCjxzdmcgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSI4MDBweCIgd2lkdGg9IjgwMHB4IiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIA0KCSB2aWV3Qm94PSIwIDAgNDkwIDQ5MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8Zz4NCgkJPGc+DQoJCQk8cG9seWdvbiBwb2ludHM9IjEwOS40MTEsMTIzLjcwOSAyMzMuMTk2LDI0NS4wMDIgMTA5LjQxMSwzNjYuMjkxIDcyLjQyOSwzMjguNDIyIDE1Ny41NjQsMjQ1LjAwMiA3Mi40MjksMTYxLjU3OCAJCQkiLz4NCgkJPC9nPg0KCQk8Zz4NCgkJCTxwb2x5Z29uIHBvaW50cz0iMTY3LjUzNCwwIDQxNy41NzEsMjQ1LjAwNCAxNjcuNTM0LDQ5MCA5Mi44MzIsNDEzLjUwNyAyNjQuOCwyNDUuMDA0IDkyLjgzMiw3Ni40OTMgCQkJIi8+DQoJCTwvZz4NCgk8L2c+DQoJPGc+DQoJPC9nPg0KCTxnPg0KCTwvZz4NCgk8Zz4NCgk8L2c+DQoJPGc+DQoJPC9nPg0KCTxnPg0KCTwvZz4NCgk8Zz4NCgk8L2c+DQoJPGc+DQoJPC9nPg0KCTxnPg0KCTwvZz4NCgk8Zz4NCgk8L2c+DQoJPGc+DQoJPC9nPg0KCTxnPg0KCTwvZz4NCgk8Zz4NCgk8L2c+DQoJPGc+DQoJPC9nPg0KCTxnPg0KCTwvZz4NCgk8Zz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4=");
  }
/* 
  .col_[data-footer-part] .logo {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 22.5px;
  } */

  .col_[data-footer-part]>.drpBtn {
    width: 100%;
    display: flex;
    margin-top: 20px;
    border-top: 1px solid grey;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
  }

  .col_[data-footer-part]>h3 {
    /* margin-bottom: 10px; */
    cursor: pointer;
  }

  .col_[data-footer-part]>ul {
    margin-left: 15px;
  }

  
  .col_[data-footer-part]>.close {
    display: none;
  }

  .col_[data-footer-part]>.all_Items,
  .btnShow {
    display: block;
  }
}