
.navbar-desktop{
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  justify-content: space-evenly;
}
.navbar {
  position: -webkit-sticky;
  background-color: #f8f9fa;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* margin: auto; */
  /* margin-left: 12%; */
}

.navbar-brand {
  font-weight: bold;
}

.navbar-toggler {
  background: none;
  border: none;
  cursor: pointer;
}
.logotoggler{
  display: flex;
  padding: 0rem 1rem 0rem 1rem;
  align-items: center;
  justify-content: space-between;
}
.offcanvas {
  display: none ;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 15rem;
  width: 30%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(173, 65, 65, 0.5);
  z-index: 1050;
  padding: 1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.offcanvas.show {
  display: block;
  transform: translateX(0) ;

}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offcanvas-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.btn-close {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.navbar-nav {
  list-style:  none;
}

.nav-item {
  margin-bottom: 0.5rem;
}

.search-form {
  display: flex;
  margin-top: 1rem;
}

.search-form input {
  padding: 0.5rem;
}

.search-form button {
  padding: 0.5rem 1rem;
}

.navbar-icons {
  display: flex;
  margin-top: 1rem;
}

.navbar-icon {
  display: flex;
  margin-right: 1rem;
  cursor: pointer;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.search-input {
  padding: 0.5rem;
  border: #000000 0.01rem solid;
  border-radius: 0.5rem 0 0 0.5rem;
}
.search-button {
  padding: 0.5rem;
  background-color: black;
  color: #fff;
  font-weight: bold;
  border: 0.01rem solid #000000;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}
.navbar-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.navbar-links a {
  color: #333;
  text-decoration:underline;
  text-decoration-color: #f8f9fa;
  padding: 0.5rem;
  border-radius:0.4rem ;
  text-decoration-thickness: 0.01rem;

}

.navbar-links a:hover {
  /* background-color: #feaed2; */
  color: #ff5bb1;
  text-decoration-color: #ff5bb1;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.01rem;
}

.navbar-icons {
  justify-content: center; 
}

.navbar-icon {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: -0.5rem;
}
.navbar-icon:hover {
  color: #ff5bb1;
}


















