.navbar {
  display: flex;
  margin-top: 1rem;  
  width: 100%;
  gap: 2rem;
}

.navbar-brand {
  margin-left: 2rem;
}

.brand-icon {
  width: 100%;
}

.navbar-search {
  display: flex;
}

.search-input {
  width: 100%;
  border: 0.1rem solid black;
  border-radius: 0.5rem 0 0 0.5rem;
}

.search-button {
  background-color: black;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ffffff;
  color: black;
}

.navbar-links {
   display: flex;
  justify-content: space-around;
  width: 50%;
  margin-right: 2rem;
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  display: inline-block;
}

.navbar-links a:hover {
  border-bottom: 0.2rem solid #ff00d6;
  font-size: medium;
}

.navbar-icons {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.navbar-icon {
  font-size: 1.2rem;
  margin-left: 1rem;
}


