.carousel {
    position: relative;
    overflow-x: hidden;
    /* font-family: 'Montserrat', sans-serif; */
  }
  
  .slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .custom-slide {
    min-width: 100%;
  }
  
  .dot-container {
    position:relative;
    align-items: center;
    justify-content: center;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-bottom: 2rem;
  }
  
  .dot {
    width: 1.5vh;
    height: 1.5vh;
    background-color: #fbbdbb;
    border-radius: 50%;
    margin: 0 0.1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot.current {
    background-color: #ff5bb1; 
    border-radius: 1rem;
    width: 2.5vw;
    height: 1vh; 
  }
  
