@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.sale-header {
  background-color: #7c85d2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 10;
}
.sale-text {
  width: 100%;
  font-size: 1rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-family: 'Montserrat', sans-serif; 
}
.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 10s linear infinite; 
}
.sale-item {
  display: inline-flex;
  align-items: center;
}
.sale-live-text {
  margin-right: 0.5rem; 
}
.sale-icon {
  color: #000000;
  margin-right: 0.5rem;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


