.sale-header {
  background-color: #7c85d2;
  display: flex;
  justify-content: center; 
}

.sale-text {
  width: 98%;
  font-size: 1rem;
  color: #fff;
  white-space: nowrap; 
  overflow: hidden; 
}

.sale-icon {
  margin-right: 0.5rem; 
  color: initial; 
}


