@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.footermain {
  width: 100vw;
  display: flex;
  overflow: hidden;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(28, 0, 35) 50%, rgb(0, 0, 0) 100%);
}

.upperFooterPart {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5%;
  width: 90%;
  color: #fff;
}

.close {
  display: block;
  margin-top: 15px;
  list-style-type: none;
}

.close>li {
  padding: 2px 0px 10px 0px;
}

.upperFooterPart-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerList {
  text-decoration: none;
  color: #777;
  padding: 10px 0px 10px 0px;
  transition: linear 0.2s;
  cursor: pointer;
}

.footerList:hover {
  color: #fff;
}

.upperFooterPart-1>.drpBtn {
  margin-bottom: 15px;
}

/* lower  footer part*/
.upperFooterPart-2 {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upf2-1 {
  width: 40%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 2rem;
}

.upf2-1:nth-child(0) {
  margin-right: 5%;
}

.upf2-1>.socialIcons {
  display: flex;
  gap: 1em;
}

.socialIcons {
  display: flex;
  /* justify-content: center; */
}

.socialIcons>a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  box-shadow: -1px 1px 3px inset #222;
}

.socialIcons>a>i {
  color: #111;
  font-size: 30px;
  transition: all 0.2s;
}

.socialIcons>a:hover {
  background-color: #111;
  box-shadow: -1px 1px 2px inset #222;
  transform: scale(1.2);
}

.socialIcons>a:hover>i {
  color: #fff;
}

/*Lower footer part*/

.lowerFooterPart {
  width: 96%;
  padding: 2%;
  gap: 1em;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  background-color: #00000080;
  border-top: 1px solid rgb(25, 25, 25);
}

.drpBtn>i {
  display: none;
}

/* 
Responsiveness
*/
@media (max-width: 950px) {
  .upf2-1 {
    flex-direction: column;
  }

  .socialIcons>a {
    width: 35px;
    height: 35px;
  }

  .socialIcons>a>i {
    color: #111;
    font-size: 25px;
    transition: all 0.2s;
  }
}

@media (max-width: 650px) {
  .upperFooterPart-1>.drpBtn {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .close {
    display: none;
    margin-bottom: 5px;
  }

  .all_Items {
    display: block;
  }

  .close>li {
    margin-left: 10px;
    padding: 2px 0px 2px 0px;
  }

  .upperFooterPart-1 {
    flex-direction: column;
    gap: 20px;
  }
  
  .upperFooterPart-2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .upperFooterPart-2>div {
    width: 100%;
  }

  .upf2-1 {
    flex-direction: row;
  }

  .socialIcons>a {
    width: 25px;
    height: 25px;
  }

  .socialIcons>a>i {
    color: #111;
    font-size: 15px;
    transition: all 0.2s;
  }

  .drpBtn {
    display: flex;
    padding: 3px;
    justify-content: space-between;
    border-top: 1px solid #222;
  }

  .drpBtn>i {
    display: inline;
  }
}