@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.custom-slide {
    display: flex;
    justify-content: space-around;
  }
  .slide-content {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: auto;
    width: 70%;
  }  
  .slide-image {
    max-width: 30vw;
    height: 45vh;
    margin-top: 2vh;
  }
  .slide-text-content{
    width: 50%;
    margin-top: 2vh;
  }
  .slide-text {
    font-size: 2.2vw;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1vh;
  }
  .slide-button {
    padding: 0.5vw 1vw;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 0.5vw;
  }
 .additional-image{
  width: 13%;
 }
  .bold-text1{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw;
  }
  .bold-text2{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
  }
  .slide-logo{
    width:10%;
  }
  @media (max-width: 950px) {
    .slide-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .slide-image {
      max-width: 45vw;
      height: 20vh;
    }
    .slide-text-content {
      width: 80%;
      text-align: center;
    }
    .additional-image{
      width: 10%;
      height: 35%;
     }
     .slide-button {
      padding: 0.5vw 1vw;
      background-color: black;
      color: white;
      text-decoration: none;
      border-radius: 0.5vw;
      font-size: 2vw;

    }
  }