body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* .navbar-desktop{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* .navbar {
  background-color: #f8f9fa;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
} */
/* .brand-icon{
  height: 3em;
} */
/* .navbar-toggler {
  background: none;
  border: none;
} */
/* .logotoggler{
  display: flex;
  padding: 0rem 1rem 0rem 1rem;
  justify-content: space-between;
} */
/* .offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 15rem;
  width: 30%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(173, 65, 65, 0.5);
  padding: 1rem;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
} */
.offcanvas.show {
  /* display: block; */
  transform: translateX(0) ;
}
/* .offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items:center;
} */
/* .offcanvas-body .navbar-nav a{
  text-decoration: none;
  color: black;
} */
/* margin-bottom: 0.5rem; */
/* .offcanvas-body .navbar-nav a:hover{
  color: #ff5bb1;
} */
/* .btn-close {
  background: none;
  border: none;
  padding: 0rem 0.8rem ;
  border-radius: 3rem;
  background-color: #fdaad5;
  font-size: 2.5rem;
  cursor: pointer;
} */
.navbar-nav {
  list-style:  none;
}
/* .nav-item {
  margin-bottom: 0.5rem;
} */
/* .search-form {
  margin: 1rem 0rem;
}
.search-form input {
  padding: 0.5rem;
  border: #000000 0.01rem solid;  
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}
.search-form button {
  padding: 0.5rem 0.5rem;
  border: black 0.01rem solid;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
} */
/* .navbar-icons {
  display: flex;
  align-items:center;
}
.navbar-icon {
  display: flex;
  cursor: pointer;
} */
/* .search-input {
  padding: 0.5rem;
  width: 15rem;
  border: #000000 0.01rem solid;
  border-radius: 0.5rem 0 0 0.5rem;
}
.search-button {
  padding: 0.5rem;
  background-color: black; 
  color: #fff;
  font-weight: bold;
  border: 0.01rem solid #000000;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
} */
/* .navbar-links {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.navbar-links a {
  color: #333;
  text-decoration:underline #f8f9fa 0.01rem;
  padding: 0.5rem;
  border-radius:0.4rem ;
  font-weight: bold;
}
.navbar-links a:hover {
  color: #ff5bb1;
  text-decoration-color: #ff5bb1 ;
  text-decoration-thickness: 0.01rem;
} */
/* .navbar-icon {
  font-size: 1.2rem;
  margin-left: 1.5rem;
  padding: 0.1rem;
}
.navbar-icon:hover {
  color: #ff5bb1;
} */
.popover-content {
  position:absolute;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border-radius: 0.8rem;
  width: 16rem;
  margin-left: -5rem;
}
.navbar-icon-wrapper {
  position: relative;
}
.navbar-icon-wrapper:hover .popover-content {
  left: 50%;
  transform: translateX(-50%);
}

.popover-content::before {
  content: '';
  position: absolute;
  top: -0.5rem; 
  left: calc(85% - 0.5rem);
  border-width: 0 0.5rem 0.5rem 0.5rem; 
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
}
/* .button-loginsignup button{
  background-color: #ff5bb1;
  border: #ff5bb1 0.01rem solid;
  width: 100%;
  margin: 0.5rem 0rem 0.5rem 0rem;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}
.button-loginsignup button:hover{
  background-color: #ffffff;
  color: #ff5bb1;
  border: #ff5bb1 0.01rem solid;
} */

/* .cart-icon{
  width: 1.3rem;
  padding: 0.05rem;
}
.cart-icon:hover {
  color: #ff5bb1;
} */
/* .LoginButton{
  margin-left: 1rem;
  padding: 0.3rem;
  background-color:#f9bbdb ;
  border: 0rem;
  border-radius: 0.3rem;
} */
.wrap-input-17 * {
  box-sizing: border-box;
 }
 /* .wrap-input-17 .search-box{
  position: relative;
 }
 
 .wrap-input-17 .input-search{
  height: 3rem;
  width: 3rem;
  border-style: none;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: all .5s ease-in-out;
  background-color: transparent;
 }
 .wrap-input-17 .input-search::placeholder{
  color:transparent ;
 }
 .wrap-input-17 .btn-search{
  width: 3rem;
  height: 3rem;
  border-style: none;
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  background-color:transparent;
 } */
 /* .wrap-input-17 .btn-search:focus ~ .input-search::placeholder{ */
 .wrap-input-17 .input-search::placeholder{
   /* padding-left: 2rem; */
   color: #333;
  }
  .wrap-input-17 .input-search:focus::placeholder{
    color: #ff475a;
  }
  /* .wrap-input-17 .btn-search:focus ~ .input-search{ */
  .wrap-input-17 .input-search{
   padding-left: 1.5rem;
  width: 13rem;
  background-color: transparent;
  border-bottom:1px solid  rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  caret-color: #ff475a;
 }
 .wrap-input-17 .input-search:focus{
  width: 13rem;
  background-color: transparent;
  border-bottom:1px solid #ff475a;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
 }
 /* .search-icon{
  width: 1.15rem;
 } */