@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light-1: #FBBDBB;
  --color-light-2: #E9ACB6;
  --color-light-3: #F2C8D7;
  --color-light-4: #FEAED2;
  --color-light-5: #FF5BB1;
  --color-light-6: #F8E2EA;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* -----------------------------------------------Navbar Style --------------------------------------------------------- */

.offcanvas.show {
  /* display: block; */
  transform: translateX(0);
}

.navbar-nav {
  list-style: none;
}

.popover-content {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border-radius: 0.8rem;
  width: 16rem;
  margin-left: -5rem;
}

.navbar-icon-wrapper {
  position: relative;
}

.navbar-icon-wrapper:hover .popover-content {
  left: 50%;
  transform: translateX(-50%);
}

.popover-content::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: calc(85% - 0.5rem);
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.wrap-input-17 * {
  box-sizing: border-box;
}

.wrap-input-17 .input-search::placeholder {
  color: #333;
}

.wrap-input-17 .input-search:focus::placeholder {
  color: #ff475a;
}

.wrap-input-17 .input-search {
  padding-left: 1.5rem;
  width: 13rem;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  caret-color: #ff475a;
}

.wrap-input-17 .input-search:focus {
  width: 13rem;
  background-color: transparent;
  border-bottom: 1px solid #ff475a;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* -------- Navbar Slider ------ */
@media (max-width: 950px) {
  .slide-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slide-image {
    max-width: 45vw;
    height: 20vh;
  }

  .slide-text-content {
    width: 80%;
    text-align: center;
  }

  .additional-image {
    width: 10%;
    height: 35%;
  }

  .slide-button {
    padding: 0.5vw 1vw;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 0.5vw;
    font-size: 2vw;
  }

  .logoANDname {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ------------------------------------------------ Body Style ------------------------------------------------------- */
.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* font-family: "Playwrite DE Grund", cursive; */
  width: 100%;
  height: 10vh;
}

.heading hr {
  width: 300px;
  height: 4px;
  outline: none;
  border: none;
}

.heading h2 {
  /* font-family: "Playwrite DE Grund", cursive; */
  margin: 20px;
  margin-block: 25px;
  font-weight: 900;
  font-size: 2rem;
  /* font-family: "Playwrite DE Grund", cursive; */
  font-family: "Montserrat", sans-serif;
}

.heading .hr-right {
  border-radius: 10px 0px 0px 10px;
  background: linear-gradient(to left, #e9acb600, #e9acb646, #FF919D, #E93550);
}

.heading .hr-left {
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to right, #e9acb600, #e9acb646, #FF919D, #E93550);
}

.subheading {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .heading hr {
    width: 80px;
    height: 3px;
    outline: none;
    border: none;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 0.8rem;
  }

  .heading h2 {
    font-size: 1.2rem;
  }

  .subheading {
    font-size: 0.7rem;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 0.57rem;
    text-align: center;
  }

  .subheading {
    /* font-size: .5rem; */
    text-align: center;
  }
}

/* ----------------------------------------------- Footer Style ------------------------------------------------------- */

footer[data-footer-part] {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to bottom, #ffe4e6, #9f1239);
}

.col_[data-footer-part]>ul>li>.footerList {
  text-decoration: none;
  color: #4c0519;
}

.col_[data-footer-part]>ul>li>.footerList:hover {
  text-decoration: underline;
}

.socialIcons[data-footer-part] {
  text-align: center;
  font-size: 30px;
  background: transparent;
  cursor: pointer;
}

.socialIcons[data-footer-part]>a {
  text-decoration: none;
  color: #4c0519;
}

.copyright[data-footer-part] {
  text-align: center;
}

.btnShow {
  display: none;
}

@media (max-width: 650px) {
  footer[data-footer-part] {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .col_[data-footer-part] {
    display: flex;
    flex-direction: column;
  }

  .col_[data-footer-part]:first-child {
    grid-column: span 2;
    display: flex;
    flex-direction: row-reverse;

    justify-content: space-between;
  }

  .col_[data-footer-part]:first-child>.logo>img {
    margin-right: 5em;
    margin-top: 2em;
  }

  .col_[data-footer-part]:first-child>ul>li {
    background-size: 16px 16px;
    background-position: 0% 40%;
  }

  .col_[data-footer-part]>.drpBtn {
    width: 100%;
    display: flex;
    margin-top: 20px;
    border-top: 1px solid grey;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
  }

  .col_[data-footer-part]>h3 {
    cursor: pointer;
  }

  .col_[data-footer-part]>ul {
    margin-left: 15px;
  }


  .col_[data-footer-part]>.close {
    display: none;
  }

  .col_[data-footer-part]>.all_Items,
  .btnShow {
    display: block;
  }
}

/* -------------------------------------------- Our Team Page Style ------------------------------------------------------- */

/* Slide In */
@keyframes slide_in {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

/* Slide Out */
@keyframes slide_out {
  from {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  to {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }
}

/* Reverse Slide In */
@keyframes revslide_in {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

/* Reverse Slide Out */
@keyframes revslide_out {
  from {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  to {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
  }
}

.our_team .slidein {
  animation: slide_in 1s ease-in-out forwards;
}

.our_team .slideout {
  animation: slide_out 1s ease-in-out forwards;
}

.our_team .revslidein {
  animation: revslide_in 1s ease-in-out backwards;
}

.our_team .revslideout {
  animation: revslide_out 1s ease-in-out backwards;
}

.our_team .hide-image {
  visibility: hidden;
  display: none;
}

.our_team .swiper-scrollbar {
  background: transparent;
  color: rgba(0, 0, 0, 0.179);
}

.our_team .text-shadow-md-white {
  text-shadow: 0 0 6px white;
}

.our_team .tint:hover+.bg-zoom-out {
  transform: 0.9;
}