/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* font-family: "Playwrite DE Grund", cursive; */
  width: 100%;
  height: 10vh;
}

.heading hr {
  width: 300px;
  height: 4px;
  outline: none;
  border: none;
}

.heading h2 {
  /* font-family: "Playwrite DE Grund", cursive; */
  margin: 20px;
  margin-block: 25px;
  font-weight: 900;
  font-size: 2rem;
  /* font-family: "Playwrite DE Grund", cursive; */
  font-family: "Montserrat", sans-serif;
}

.heading .hr-right {
  border-radius: 10px 0px 0px 10px;
  background: linear-gradient(to left, #e9acb600, #e9acb646, #FF919D,  #E93550);
}

.heading .hr-left {
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to right, #e9acb600, #e9acb646, #FF919D,  #E93550);
}

.subheading {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .heading hr {
    width: 80px;
    height: 3px;
    outline: none;
    border: none;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 0.8rem;
  }

  .heading h2{
    font-size: 1.2rem;
  }

  .subheading {
    font-size: 0.7rem;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 0.57rem;
    text-align: center;
  }

  .subheading {
    /* font-size: .5rem; */
    text-align: center;
  }
}

/* Our Team Page Style */

/* Slide In */
@keyframes slide_in {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

/* Slide Out */
@keyframes slide_out {
  from {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  to {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }
}

/* Reverse Slide In */
@keyframes revslide_in {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

/* Reverse Slide Out */
@keyframes revslide_out {
  from {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  to {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
  }
}

.our_team .slidein {
  animation: slide_in 1s ease-in-out forwards;
}

.our_team .slideout {
  animation: slide_out 1s ease-in-out forwards;
}

.our_team .revslidein {
  animation: revslide_in 1s ease-in-out backwards;
}

.our_team .revslideout {
  animation: revslide_out 1s ease-in-out backwards;
}

.our_team .hide-image {
  visibility: hidden;
  display: none;
}

.our_team .swiper-scrollbar {
  background: transparent;
  color: rgba(0, 0, 0, 0.179);
}

.our_team .text-shadow-md-white {
  text-shadow: 0 0 6px white;
}

.our_team .tint:hover+.bg-zoom-out {
  transform: 0.9;
}