@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/* .AllPage_ {
  display: flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  color: rgb(1, 9, 15);
  font-family: "Comfortaa", monospace;
  background-image: url('../../assets/Authentic/bgc.jpg');
  overflow: hidden;
} */

/* .AllPage_ .inputBox {
  width: 30vw;
  height: 25px;
  font-size: 13px;
  font-weight: 400;
  color: #140114;
  padding: 5px;
  padding-left: 10px;
  outline: 0;
  border: 1px solid #474747;
  background-color: #fffffff8;
  margin-right: 20px;
  border-radius: 8px;
  margin: 5px 0px 15px 0px;
  transition: all 0.4s;
} */

/* .AllPage_ .inputBox:hover {
  transform: scale(1.02);
  border-radius: 5px;
} */
/* box-shadow: 10px 5px 5px black; */
/* 
.AllPage_ label {
  font-size: 18px;
  font-weight: bolder;
  color: #000000;
}

.AllPage_ .entryFieldBox {
  margin: 40px;
  width: 40vw;
  background-color: #ffffff;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.AllPage_ .entryFieldBox>form {
  margin-left: 60px;
  z-index: -1;
} */

.AllPage_ .imgBox {
  width: 50%;
  height: 100vh;
}

.AllPage_ .imgBox>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .AllPage_ .btn {
  color: #ffffff;
  width: 10vw;
  background-color: #e75e56;
  padding: 8px;
  font-size: 17px;
  border-radius: 5px;
  border: 2px solid #e75e56;
  transition: all 0.3s;
  margin-top: 10px;
  margin-left: 30%;
} */

/* .AllPage_ .btn:hover {
  transform: scale(1.04);
} */

/* for login page component */

.AllPage_ .loginPageBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AllPage_ .loginBox {
  width: 40vw;
  height: 50vh;
  background-color: #3d3ddd;
  padding: 30px;
  border-radius: 10px;
}

/*Navbar-- head.jsx*/

/* .AllPage_ .imgLogo {
  width: 200px;
  height: 14vh;
}

.AllPage_ .imgLogo>img {
  height: 100%;
  width: 100%;
} */

.AllPage_ .Links-SignPage-LoginPage {
  margin: 25px 0px 25px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.AllPage_ .head-link {
  /* text-align: center;
  width: 100px;
  border: 2px solid #e75e56;
  text-decoration: none;
  color: #e75e56;
  font-size: 18px;
  font-weight: 600;
  padding: 5px; */
  transition: all 0.8s ease;
  transition-delay: 0.2s;

  /* as for the navlink as to classes with similar transition property :20 */
}

/* .AllPage_ .login-link {
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 0.2s;
} */
/* 
.AllPage_ .signup-link {
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: all 0.2s;
} */

.AllPage_ .pink {
  color: white;
  background-color: #e75e56;
}

.AllPage_ .imgBlock {
  display: flex;
  justify-content: center;
}

/* .AllPage_ .or {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
  position: relative;
  z-index: 1;
  padding: 0px 30px;
}

.AllPage_ .or>span {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
  background-color: #ffffff;
  padding: 0px 30px;
} */

.AllPage_ .or:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: linear-gradient(207deg, rgba(231, 94, 86, 1) 47%, rgba(255, 255, 255, 1) 98%);
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 0;
}

.AllPage_ .or:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: linear-gradient(207deg, #ffffff, #e75e56 98%);
  position: absolute;
  right: 50px;
  top: 50%;
  z-index: 0;
}

/* .AllPage_ .bottom-Side-logo-signup>img {
  width: 40px;
  height: 40px;
  border-color: #c841f1;
  border-radius: 50%;
  margin-right: 50px;
}

.AllPage_ .bottom-Side-logo-signup {
  margin-left: 35%;
} */

/* .AllPage_ .bottom-Side-logo-login {
  margin-left: 26%;
  transition: all 0.2s;
  transition: all 0.2s;

}

.AllPage_ .bottom-Side-logo-login img {
  width: 30px;
  height: 30px;
  border-color: #c841f1;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.2s;
}

.AllPage_ .bottom-Side-logo-login>div {
  padding: 5px;
  width: 20vw;
  border: 2px solid #e75e56;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.AllPage_ .bottom-Side-logo-login>div:hover {
  transform: scale(1.04);
  background-color: #e75e56;
  color: rgb(255, 255, 255);
  transition: all 0.2s;
} */

/*Responsiveness*/
@media only screen and (max-width: 900px) {
  .AllPage_ .imgBox {
    display: none;
  }

  .AllPage_ .entryFieldBox {
    width: 100vw;

  }

  .AllPage_ .inputBox {
    width: 80vw;
    height: 25px;
    font-size: 10px;
    font-weight: 400;
    color: #140114;
    padding: 5px;
    outline: 0;
    border: 1px solid rgb(71, 71, 71);
    background-color: #fffffff8;
    margin-right: 20px;
    border-radius: 3px;
    margin: 5px 0px 15px 0px;
    transition: all 0.4s;
  }

  .AllPage_ body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .AllPage_ .bottom-Side-logo-login {
    margin-left: 10%;
    transition: all 0.2s;
    transition: all 0.2s;

  }

  .AllPage_ .bottom-Side-logo-login>div {
    padding: 5px;
    width: 80vw;
    border: 2px solid pink;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }

  .AllPage_ .btn {
    color: #ecafa5;
    width: 30vw;
    background-color: transparent;
    padding: 8px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid #ecafa5;
    transition: all 0.3s;
    margin-left: 30%;
  }

  .AllPage_ .bottom-Side-logo-signup {
    margin-left: 40%;
  }
}

@media only screen and (max-width: 580px) {

  /* styles for devices with a maximum screen width of 480px */
  .AllPage_ .imgBox {
    display: none;
  }

  .AllPage_ .entryFieldBox {
    width: 100vw;

  }

  .AllPage_ .inputBox {
    width: 80vw;
    height: 25px;
    font-size: 10px;
    font-weight: 400;
    color: #140114;
    padding: 5px;
    outline: 0;
    border: 1px solid rgb(71, 71, 71);
    background-color: #fffffff8;
    margin-right: 20px;
    border-radius: 3px;
    margin: 5px 0px 15px 0px;
    transition: all 0.4s;
  }

  .AllPage_ body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .AllPage_ .bottom-Side-logo-login {
    margin-left: 10%;
    transition: all 0.2s;
    transition: all 0.2s;

  }

  .AllPage_ .bottom-Side-logo-login>div {
    padding: 5px;
    width: 80vw;
    border: 2px solid pink;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }

  .AllPage_ .btn {
    color: #ecafa5;
    width: 30vw;
    background-color: transparent;
    padding: 8px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid #ecafa5;
    transition: all 0.3s;
    margin-left: 30%;
  }

  .AllPage_ .bottom-Side-logo-signup {
    margin-left: 38%;
  }
}